
 <h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>



  <div class="field">
    <%= f.input :username %>
  </div>

  <div class="field">
    <%= f.input :email %>
  </div>
     
      <h4> RATINGS </h4>
      <h5> Rate out of 10(__/10) </h5>
    <div class="field">
 
    <%= f.input :comedy , input_html: { min: '5', step: 'any' } %>
  </div>

    <div class="field">

    <%= f.input :action %>
  </div>

  <div class="field">
    <%= f.input :romance %>
  </div>
    
<div class="field">

  <%= f.input :photo %>
</div> 

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.input :password, autocomplete: "off" %>
  </div>

  <div class="field">
  
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<script>
var password = document.getElementById("user_password")
  , confirm_password = document.getElementById("user_password_confirmation");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Password Did not match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

<%= render "devise/shared/links" %>

