<% if user_signed_in? %>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="text-center" style="color:purple ">Search Movie</h1>
    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="query" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </form>
    </div>

  </div>
  <br/>
  <div class="col-xs-12 col-md-6 col-md-offset-3 " style="margin-top:50px ">
  
    
    <div id="movies">
    <h1 style="color:green">Recent Reviewed Movie: </h1>
       <% @movie.each do |m| %>
                <div class="box panel panel-default pull-left">
                    <div class="panel-body">
                        <p><h3 style="color:red"><%= m.title %></h3></p>
                        <% Tmdb::Api.key("3deceb9041e72a8856191ddeaf96a293") %>
                         <% Tmdb::Api.language("en") %> 
                         <% if  m.poster != nil && Tmdb::Movie.posters(m.tmdb_id).first != nil  %>
                       <%  @mov = Tmdb::Movie.posters(m.tmdb_id).first.file_path %>
                  
                       <%= image_tag("https://image.tmdb.org/t/p/w185#{@mov}") %>
                       <% else %>
                       <%= image_tag("no.jpg") %>
                       <% end %>
                    </div>
                </div>
            <% end %>
    </div>
    
  </div>
</div>
       <h1 style="color:blue">Recommendation: </h1>
          <% @user.each do |u| %>

          <% if u.id != current_user.id && u.romance == current_user.romance && u.comedy == current_user.comedy && u.action == current_user.action %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %> </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
            <% elsif u.id != current_user.id && u.romance == current_user.romance && u.comedy == current_user.comedy %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %> </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
            <% elsif u.id != current_user.id && u.romance == current_user.romance && u.action == current_user.action %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %> </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
                    <% elsif u.id != current_user.id && u.action == current_user.action && u.comedy == current_user.comedy %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %> </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
            <% elsif u.id != current_user.id && u.romance == current_user.romance  %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %> </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
            <% elsif u.id != current_user.id && u.action == current_user.action  %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %>  </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
          <% elsif u.id != current_user.id && u.comedy == current_user.comedy  %>
             <% u.reviews.each do |rev| %>
             <h3 style="color:green"> <%= u.username %>  </h3>
             <h3 style="color:red"> <%= rev.movie.title %> </h3>
          <% end %>
          <% end %> 
          
          <% end %> 
<% else %>
<h1> PLEASE LOG IN </h1>
<% end %>

