<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
										<li><a href="#"><%= image_tag  "movies/1.jpg", alt: "Slide 1"%></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><%= image_tag  "movies/4.jpg", alt: "Movie 1"%></a>
										</div>
									</div>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><%= image_tag  "movies/5.jpg", alt: "Movie 2"%></a>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- .row -->
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><%= image_tag  "movies/6.jpg", alt: "Movie 3"%></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><%= image_tag  "movies/7.jpg", alt: "Movie 4"%></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><%= image_tag  "movies/8.jpg", alt: "Movie 5"%></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><%= image_tag  "movies/9.jpg", alt: "Movie 6"%></a>
								</div>
							</div>
						</div> <!-- .row -->
						
						
				</div> <!-- .container -->
			</main>