<h3> Name: </h3>
<%= current_user.username%>
<h3> Email: </h3>
<%= current_user.email %>
<h3> Profile Picture </h3>
<%= image_tag current_user.photo ,class: 'picture' %>
<h3> Action Movie Rating: </h3>
<%= current_user.action %>
<h3> Romance Movie Rating: </h3>
<%= current_user.romance %>
<h3> Comedy Movie Rating: </h3>
<%= current_user.comedy %>