<div class = "profile">
    <div class="propic">
        <%= image_tag current_user.photo ,class: 'picture' %>
    </div>

        <div class= "details">
            <h3> Name: </h3> <p> <%= current_user.username%></p>
            
            <h3> Email: </h3> <%= current_user.email %>
            
            <h3> Action Movie Rating: </h3> <%= current_user.action %>
            
            <h3> Romance Movie Rating: </h3> <%= current_user.romance %>
            
            <h3> Comedy Movie Rating: </h3> <%= current_user.comedy %>
            
        </div>
         
</div>