<header class="site-header">
	<div class="container" id = "container">
		<a href="#" id="branding">
			<%= image_tag  "flogo.png", class: "logo", id: "logo", width: "280px", height: "180px" %>
		</a> <!-- #branding -->

		<div class="main-navigation" id= "mainnav">
		<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
			<ul class="menu" id = "menu">

				<li class="menu-item current-menu-item"><%= link_to  "Home", root_path %></a></li>
				<li class="menu-item"><%= link_to  "About", "#" %></li>
				<li class="menu-item"><%= link_to  "Top Rated Movies", "#" %></li>

    		<% if user_signed_in? %>
			
            	<li class="menu-item"><%= link_to 'Profile', profile_path %></li>
				<li class="menu-item"><%= link_to 'Edit Settings', edit_user_registration_path %></li>
				<li class="menu-item"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>

            <% else %>
              	<li class="menu-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
				<li class="menu-item"><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>

</form>

				<li class="menu-item" class="last"><%= link_to  "Contact", "#" %></li>
			</ul> <!-- .menu -->
			
		

	</div>
</header>

