<!DOCTYPE html>
<html>
  <head>
    <title>CollegeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

      <!-- Loading third party fonts -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    

    <link rel="stylesheet" href="./stylesheets/navbar.scss" type="text/css">
    <link rel="stylesheet" href="./stylesheets/footer.scss" type="text/css">

  </head>

  <body>
  <nav>
   <div class="navbar">
       <%= render  "shared/nav" %>
    </div>

    <div class="maincontent">
      <%= yield %>
    </div>

    <div class="footer">
       <%= render  "shared/footer" %>
    </div>
  </body>
</html>
